/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    // height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    text-align: center;
    position: relative;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* End style resets */

// Google web font import
/* TODO: Decide on a sans-serif typeface */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@font: 'Roboto Condensed', sans-serif;

@sans: 'Helvetica', sans-serif;

// Icon font and spinner animation
@import "fontello";
@import "animation";

// Color variables
@White: rgba(224,233,238, 1.0);
@Green: #3d6e5a;
@lighten: rgba(255, 255, 255, 0.5);

@headline-size: 3.5em;

html {
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Baskerville', 'Georgia', serif;
    font-size: @headline-size;
    font-weight: 400;
    line-height: 1.1em;
}

h2, h3 {
    font-family: @sans;
}

nav {
    clear: both;
    width: 100%;
    ul {
        clear: both;
        width: 100%;
        li {
            float: left;
            margin-top: 0.5em;
            &:last-child {
                float: right;
            }
        }
    }
    a {
        font-family: @sans;
        text-decoration: none;
        color: fadeout(@Green, 10%);
    }
}

.bottom {
    position: absolute;
    height: 2em;
    width: 100%;
    bottom: 0;
    clear: both;
    text-align: center;
}

#quiz {
    max-width: 70em;
    position: relative;
    display: inline-block;
}

button {
    background-color: fadeout(@Green, 20%);
    color: @White;
    padding: .25em;
    cursor: pointer;
    border: 2px outset fadeout(@White, 35%);
    border-radius: 15px;
    &:active {
        border: 2px inset fadeout(@White, 35%);
    }
}

#headline-box {
    z-index: 2;
    background-color: @Green;
    border: 3px outset rgba(70, 126, 103, .4);
    color: @White;
    display: inline-block;
}

#white {
    background: fadeout(@White, 55%);
    border-radius:0 0 15px 15px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 400ms ease-out;
    -moz-transition: -moz-transform 400ms ease-out;
    -o-transition: -o-transform 400ms ease-out;
    -ms-transition: -ms-transform 400ms ease-out;
    transition: transform 400ms ease-out;
    position: relative;
    z-index: 1;
}

#gloss {
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,1)));
    z-index: 0;
    border-radius:0 0 15px 15px;
}

#answer {
    width: 100%;
    -webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
    -moz-transition: -moz-transform 400ms ease-out, opacity 400ms;
    -o-transition: -o-transform 400ms ease-out, opacity 400ms;
    -ms-transition: -ms-transform 400ms ease-out, opacity 400ms;
    transition: transform 400ms ease-out, opacity 400ms;
    opacity: 1;
    z-index: 0;
}

#feedback {
    position: relative;
    padding: 1em;
    -webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
    -moz-transition: -moz-transform 400ms ease-out, opacity 400ms;
    -o-transition: -o-transform 400ms ease-out, opacity 400ms;
    -ms-transition: -ms-transform 400ms ease-out, opacity 400ms;
    opacity: 0;
    &.correct {
        background: -moz-linear-gradient(top, rgba(86,154,127,0.8) 15%, rgba(230,234,242,0) 70%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(86,154,127,0.8)), color-stop(70%,rgba(230,234,242,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 70%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 70%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 70%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc569a7f', endColorstr='#00e6eaf2',GradientType=0 ); /* IE6-9 */
    }
    &.wrong {
        background: -moz-linear-gradient(top, rgba(162,111,90,0.8) 15%, rgba(232,235,242,0) 70%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(162,111,90,0.8)), color-stop(70%,rgba(232,235,242,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 70%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 70%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 70%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca26f5a', endColorstr='#00e8ebf2',GradientType=0 ); /* IE6-9 */
    }
}

.message {
    color: @White;
    display: inline-block;
}

.data li {
    background-color: fadeout(@Green, 40%);
    color: @White;
    border-radius: 15px;
}

#source {
    color: @White;
    display: inline-block;
    font-family: @font;
    overflow: hidden;
    cursor: pointer;
}

#next {
    display: inline-block;
    bottom: 0;
}

.social-buttons {
    display: inline-block;
}

iframe { padding: 0; }

#error, #loading {
    display: none;
    font-size: 1.5em;
}

#spinner {
    color: @lighten;
    font-size: @headline-size;
}