@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  text-align: center;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?39845406');
  src: url('../fonts/fontello.eot?39845406#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?39845406') format('woff'), url('../fonts/fontello.ttf?39845406') format('truetype'), url('../fonts/fontello.svg?39845406#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39845406#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/

  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */

  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */

  /* remove if not needed */

  margin-left: .2em;
  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}
.icon-spin:before {
  content: '\e800';
}
/* '' *//*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotateGloss {
  0% {
    -webkit-transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-320px);
  }
  50% {
    -webkit-transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(320px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
html {
  height: 100%;
}
body {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url(../imgs/halfgreen2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
h1 {
  font-family: 'baskerville', 'Georgia';
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1.1em;
}
h2 {
  font-size: 3em;
  font-family: sans-serif;
}
h3 {
  font-size: 2em;
  font-family: sans-serif;
}
nav {
  position: relative;
  border-radius: 0  0 15px 15px;
  max-width: 1600px;
  height: 3em;
  margin: 0 auto;
  clear: both;
}
nav ul {
  clear: both;
  width: 100%;
}
nav ul li {
  float: left;
  margin-left: 1em;
  margin-top: .5em;
}
nav ul li:last-child {
  float: right;
  margin-right: 1em;
}
nav ul a {
  font-family: sans-serif;
  font-size: 2em;
  padding: .3em;
  text-decoration: none;
  color: rgba(61, 110, 90, 0.75);
}
nav ul a:hover {
  color: #3d6e5a;
}
.bottom {
  position: absolute;
  border-radius: 0  0 15px 15px;
  max-width: 1600px;
  width: 100%;
  height: 3em;
  bottom: 0;
  clear: both;
  text-align: center;
  display: none;
}
#quiz {
  max-width: 70em;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
button {
  background-color: rgba(61, 110, 90, 0.8);
  color: #e0e9ee;
  font-size: 1.5em;
  width: 25%;
  padding: .25em;
  cursor: pointer;
  border: 2px outset rgba(224, 233, 238, 0.65);
  border-radius: 15px;
  margin: .5em 2.5em;
}
button:hover {
  background-color: rgba(61, 110, 90, 0.95);
}
button:active {
  border: 2px inset rgba(224, 233, 238, 0.65);
}
#headline-box {
  position: relative;
  background-color: #3d6e5a;
  border: 3px outset rgba(70, 126, 103, 0.4);
  border-radius: 15px;
  padding: 2%;
  min-width: 570px;
  color: #e0e9ee;
  display: inline-block;
  z-index: 2;
}
#white {
  background: rgba(224, 233, 238, 0.44999999999999996);
  border-radius: 0 0 15px 15px;
  width: 95%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 400ms ease-out;
  position: relative;
  z-index: 1;
}
#gloss {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(100%, #ffffff));
  z-index: 0;
  border-radius: 0 0 15px 15px;
}
#answer {
  width: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
  bottom: 0;
  opacity: 1.0;
  z-index: 0;
}
#feedback {
  position: relative;
  padding: 1em;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
  opacity: 0;
}
#feedback.correct {
  background: -moz-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(86, 154, 127, 0.8)), color-stop(70%, rgba(230, 234, 242, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc569a7f', endColorstr='#00e6eaf2', GradientType=0);
  /* IE6-9 */
}
#feedback.wrong {
  background: -moz-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(162, 111, 90, 0.8)), color-stop(70%, rgba(232, 235, 242, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cca26f5a', endColorstr='#00e8ebf2', GradientType=0);
  /* IE6-9 */

}
#feedback .message {
  color: #e0e9ee;
  padding: 0 0 .25em 0;
  display: inline-block;
}
#feedback .data li {
  display: inline-table;
  background-color: rgba(61, 110, 90, 0.6);
  color: #e0e9ee;
  line-height: 1.1em;
  padding: 1em .5em .5em .5em;
  min-width: 35%;
  border-radius: 15px;
  margin: 1%;
  height: 150px;
}
#feedback .data li h3 {
  padding-bottom: .4em;
  margin-bottom: .25em;
  border-bottom: 1px dashed rgba(224, 233, 238, 0.7);
}
#feedback #source {
  color: #e0e9ee;
  padding: 12%;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
}
#feedback #source:hover {
  background-color: rgba(61, 110, 90, 0.7);
}
#feedback #source img {
  border: 2px solid;
  border-radius: 4px;
  color: rgba(61, 110, 90, 0.4);
  width: 20%;
  max-height: 200px;
  float: left;
}
#feedback #source p {
  padding: 0 1em;
  overflow: hidden;
  text-align: left;
  font-family: sans-serif;
  font-size: 1em;
}
#feedback #source p span {
  display: block;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}
#feedback button {
  width: 50%;
  display: inline-block;
  bottom: 0;
  margin: .5em;
  font-size: 2em;
}
.social-buttons {
  min-width: 200px;
  margin: .5em auto auto auto;
  display: inline-block;
}
.social-buttons > div,
.social-buttons > iframe {
  float: left;
  margin: 0 20px;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-family: 'Georgia';
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.1em;
  }
  #headline {
    max-width: 480px;
  }
}
iframe {
  padding: 0;
}
#error,
#loading {
  display: none;
  font-size: 1.5em;
}
#spinner {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.5em;
}
