/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	// height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	text-align: center;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}










@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import "fontello";
@import "animation";
@back1: "../imgs/Huge_onions.jpg";
@back2: "../imgs/onion_peel.jpg";
@back3: "../imgs/halfGreen.jpg";
@back4: "../imgs/onions.55.jpg";

@White: rgba(224,233,238, 1.0);
// @Fcolor: #e1d0ac;
// @Fcolor: red;

// @Green: #e0e9ee;
// @Green6: rgba(224,233,238, 1.0);
@Green: #3d6e5a;
@lighten: rgba(255, 255, 255, 0.5);
@headline-size: 3.5em;


//#a8635a
@font: 'Roboto Condensed', sans-serif;

@-webkit-keyframes rotateGloss{
    0%{-webkit-transform: translateX(0px);}
    25%{-webkit-transform: translateX(-320px);}
    50%{-webkit-transform: translateX(0px);}
    75%{-webkit-transform: translateX(320px);}
    100%{-webkit-transform: translateX(0px);}
}


html {
	height: 100%;
}

body {
	// position: fixed;
	text-align: center;
	position: relative;
	display: inline-block;
	// max-width: 1600px;
	width: 100%;
	height: 100%;
	// min-height: 100%;
	// max-height: 1200px;
	margin: 0 auto;
	background: url(../imgs/halfgreen2.jpg);


	background-size: cover;
	background-repeat: no-repeat;

	background-position: center center;
	}

	h1{
		font-family: 'baskerville', 'Georgia';
		font-size: @headline-size;
		font-weight: 400;
		line-height: 1.1em;
	}

	h2{
		font-size: 3em;
		font-family: sans-serif;
	}

	h3{
		font-size: 2em;
		font-family: sans-serif;
	}


	nav{
		position: relative;
		border-radius: 0  0 15px 15px;
		max-width: 1600px;
		// width: 100%;
		height: 3em;
		margin: 0 auto;
		// bottom: 0;
		// z-index: 1;
		clear: both;
		// text-align: center;

		ul {
		// padding: 0 5%;
		clear: both;

		width: 100%;
			li {

				float: left;
				margin-left: 1em;
				margin-top: .5em;
			}
			li:last-child {
				float: right;
				margin-right: 1em;
			}
				a {
					font-family: sans-serif;
					font-size: 2em;
					padding: .3em;
					// padding-left: 0;
					text-decoration: none;
					color: fadeout(@Green, 25%);
					// letter-spacing: 1.1px;
					&:hover{
						color: @Green;
					}
				}
			}

	}


		.bottom{
		position: absolute;
		border-radius: 0  0 15px 15px;
		max-width: 1600px;
		width: 100%;
		height: 3em;
		bottom: 0;
		clear: both;
		text-align: center;
		display: none;
		}

	#quiz {
		// margin: 3% auto auto auto;
		max-width: 70em;
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

		button {

			background-color: fadeout(@Green, 20%);
			color: @White;
			font-size: 1.5em;
			width: 25%;
			padding: .25em;
			cursor: pointer;
			border: 2px outset fadeout(@White, 35%);
			border-radius: 15px;
			margin: .5em 2.5em;
			&:hover{
				background-color: fadeout(@Green,5%);
			}
			&:active {
				border: 2px inset fadeout(@White, 35%);
			}
		}

		#headline-box {
			// font-size: 100%;
			position: relative;
			background-color: @Green;
			border: 3px outset rgba(70, 126, 103, .4);
			border-radius: 15px;
			padding: 2%;
			min-width: 570px;
			// max-height: 250px;
			color: @White;
			display: inline-block;
			// -webkit-transition: 400ms ease-out;
			z-index: 2;
		}


		#white{
			background: fadeout(@White, 55%);
			border-radius:0 0 15px 15px;
			width: 95%;
			margin: 0 auto;
			-webkit-transition: -webkit-transform 400ms ease-out;
			// z-index: -1;
			// -webkit-transform: translate3d(0,0,0);
			// background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,1))); 
			position: relative;
			z-index: 1;
		}

		#gloss {
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,1))); 
			// -webkit-transition: -webkit-transform 400ms ease-out;
			z-index: 0;
			border-radius:0 0 15px 15px;
		}

		#answer {

			width: 100%;
			position: relative;
			-webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
			bottom: 0;
			opacity: 1.0;
			z-index: 0;
			// position: absolute;
		}

		#feedback {
			// z-index: -1;
			position: relative;
			// width: inherit;
			padding: 1em;
			-webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
			opacity: 0;

			&.correct{
				background: -moz-linear-gradient(top, rgba(86,154,127,0.8) 15%, rgba(230,234,242,0) 70%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(86,154,127,0.8)), color-stop(70%,rgba(230,234,242,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 70%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 70%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 70%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(86,154,127,0.8) 15%,rgba(230,234,242,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc569a7f', endColorstr='#00e6eaf2',GradientType=0 ); /* IE6-9 */			
			}
			&.wrong{
				background: -moz-linear-gradient(top, rgba(162,111,90,0.8) 15%, rgba(232,235,242,0) 70%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(162,111,90,0.8)), color-stop(70%,rgba(232,235,242,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 70%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 70%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 70%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(162,111,90,0.8) 15%,rgba(232,235,242,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca26f5a', endColorstr='#00e8ebf2',GradientType=0 ); /* IE6-9 */
			}

			.message {
				color: @White;
				padding: 0 0 .25em 0;
				display: inline-block;
			}

			.data li {
				display: inline-table;
				background-color: fadeout(@Green, 40%);
				color: darken(@White, 0%);
				line-height: 1.1em;
				padding: 1em .5em .5em .5em;
				// width: 92%;
				min-width: 35%;
				// display: inline-table;
				border-radius: 15px;
				// float: left;
				margin: 1%;
				height: 170px;

				h3{
					padding-bottom: .4em;
					margin-bottom: .25em;
					border-bottom: 1px dashed fadeout(@White, 30%);

				}

			}


			#source {
				color: darken(@White, 0%);
				display: inline-block;
				padding: 12%;
				font-size: 1.5em;
				font-family: @font;
				overflow: hidden;
				display: inline-block;
				cursor: pointer;
				border-radius: 15px;
				text-decoration: none;
				&:hover{
					background-color: fadeout(@Green, 30%);

				}

				img{
					// margin: 0 1em;
					border: 2px solid;
					border-radius: 4px;
					color: fadeout(@Green,60%);
					width: 20%;
					max-height: 200px;
					// display: inline;
					float: left;
					// display: inl
				}
				p{
					// display: inline-block;
					padding: 0 1em;
					// max-height: 115px;
					overflow: hidden;
					// width: 70%;
					text-align: left;
					font-family: sans-serif;
					font-size: 1em;
					span {
						display: block;
						text-align: left;
						font-size: 1.2em;
						font-weight: bold;
						font-style: italic;
					}
				}
			}

			button{
				width: 50%;
				display: inline-block;
				bottom: 0;
				margin: .5em;
				font-size: 2em;
			}

		}

.social-buttons {
	min-width: 200px;
	margin:.5em auto auto auto;
	display: inline-block;
	> div, > iframe {
		float: left;
		margin: 0 20px;
	}
}

// Mobile Styles
@media only screen and (max-width: 500px){

	h1{
		font-family: 'Georgia';
		font-size: 2.5em;
		font-weight: 400;
		// width: 480px;
		// min-width: 750px;
		line-height: 1.1em;
	}

	#headline {
		max-width: 480px;
	}
}


iframe { padding: 0; }

#error, #loading {
	display: none;
	font-size: 1.5em;
}

#spinner {
	color: @lighten;
	font-size: @headline-size;
}
