@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  text-align: center;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
html {
  height: 100%;
}
body {
  min-height: 480px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: url(../imgs/small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
h1 {
  font-family: 'Baskervile';
  font-size: 2em;
  font-weight: 400;
  line-height: 1.1em;
}
h2 {
  font-size: 1.6em;
  font-family: helvetica;
}
h3 {
  font-size: 1.5em;
  font-family: helvetica;
}
nav {
  position: absolute;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  bottom: 0;
  clear: both;
  display: none;
}
nav ul {
  clear: both;
  width: 100%;
}
nav ul li {
  float: left;
  margin-top: .5em;
}
nav ul li:last-child {
  float: right;
}
nav ul a {
  font-family: helvetica;
  font-size: 1.5em;
  padding: .3em;
  text-decoration: none;
  color: rgba(61, 110, 90, 0.9);
}
.bottom {
  position: absolute;
  display: block;
  max-width: 1600px;
  width: 100%;
  height: 2em;
  bottom: 0;
  clear: both;
  text-align: center;
}
#quiz {
  max-width: 70em;
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: visible;
}
button {
  background-color: rgba(61, 110, 90, 0.8);
  color: #e0e9ee;
  font-size: 1.3em;
  width: 40%;
  padding: .25em;
  cursor: pointer;
  border: 2px outset rgba(224, 233, 238, 0.65);
  border-radius: 15px;
  margin: .5em .5em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button:active {
  border: 2px inset rgba(224, 233, 238, 0.65);
}
.active {
  background-color: rgba(61, 110, 90, 0.95);
  border: 2px inset rgba(224, 233, 238, 0.65);
}
#headline {
  z-index: 2;
  position: relative;
  width: 100%;
  background-color: rgba(61, 110, 90, 0.95);
  border: 3px outset rgba(70, 126, 103, 0.4);
  border-radius: 0 0 5px 5px;
  padding: 1%;
  color: #e0e9ee;
  display: inline-block;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
}
#white {
  background: rgba(224, 233, 238, 0.44999999999999996);
  border-radius: 0 0 15px 15px;
  width: 93%;
  margin: 0 auto;
  -webkit-transition: 400ms ease-out;
  position: relative;
  z-index: 1;
}
#gloss {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(100%, #ffffff));
  z-index: 0;
  border-radius: 0 0 15px 15px;
}
#answer {
  width: 100%;
  transition: 400ms ease-out;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
  z-index: 0;
}
#feedback {
  position: relative;
  padding: 1em;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 400ms;
  opacity: 0;
}
#feedback.correct {
  background: -moz-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(86, 154, 127, 0.8)), color-stop(70%, rgba(230, 234, 242, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 70%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(86, 154, 127, 0.8) 15%, rgba(230, 234, 242, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc569a7f', endColorstr='#00e6eaf2', GradientType=0);
  /* IE6-9 */
}
#feedback.wrong {
  background: -moz-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(162, 111, 90, 0.8)), color-stop(70%, rgba(232, 235, 242, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 70%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(162, 111, 90, 0.8) 15%, rgba(232, 235, 242, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cca26f5a', endColorstr='#00e8ebf2', GradientType=0);
  /* IE6-9 */

}
#feedback .message {
  color: #e0e9ee;
  display: inline-block;
}
#feedback .data {
  margin: .5em 0;
}
#feedback .data li {
  display: inline-block;
  background-color: rgba(61, 110, 90, 0.6);
  color: #e0e9ee;
  height: 4.8em;
  width: 95%;
  border-radius: 15px;
  margin: .3em;
  text-align: center;
}
#feedback .data li h3 {
  border-bottom: 1px dashed rgba(224, 233, 238, 0.9);
  padding: .1em 0;
  display: inline-block;
  width: 90%;
}
#feedback #source {
  color: #e0e9ee;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', helvetica;
  display: inline-block;
  cursor: pointer;
  padding-top: .6em;
}
#feedback #source p {
  padding: 0 1em;
  overflow: hidden;
  text-align: left;
  font-family: helvetica;
  font-size: 1em;
}
#feedback #source p span {
  display: block;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}
#feedback button {
  width: 95%;
  display: inline-block;
  bottom: 0;
  padding: .5em 0;
  margin: 0;
  font-size: 1.5em;
}
.social-buttons {
  display: inline-block;
  opacity: .75;
  padding-top: .5em;
}
.social-buttons > a {
  display: inline-block;
  height: 2em;
  width: 2em;
  margin-right: 2em;
  background: url(../imgs/fb.png);
  background-size: cover;
}
.social-buttons .twitter-share {
  background: url(../imgs/twitter.png);
  background-size: cover;
  margin: 0;
}
.social-buttons img {
  height: 2em;
}
#error,
#loading {
  display: none;
  font-size: 1.5em;
}
#spinner {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.5em;
}
iframe {
  padding: 0;
}
